#overlayOne {
    position: fixed;
    display: none;
    /*width: 100%;*/
    /*height: 100%;*/
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    background-color: #4e5450d9;
    z-index: 10;

    color: white;
    padding: 1rem;
}


#overlayTwo {
    position: fixed;
    display: none;
    /*width: 100%;*/
    /*height: 100%;*/
    top: 0;
    left: 0;
    right: 30%;
    bottom: 0;
    background-color: rgb(78 84 80);
    z-index: 10;

    color: white;
    padding: 1rem;
}


pre {
    tab-size: 4;
    counter-reset: linecounter;
    padding: 0;
    color: #eee;
    background-color: #333;
    font-size: 16px;
    line-height: 16px;

    padding: 1rem;
}

